        
        <div class="container-grid gamer">
            <div class="pcgamer">PC GAMER</div> 
            <div class="grupo">  
            <div class="card">
                <img src="assets/monitor_gamer_curvo_samsung.jpg" alt="monitor curvo samsung"> <a routerLink="/monitor">MONITOR</a></div>
            <div class="card">
                <img src="assets/acessorios-gamer.jpg" alt="acessorios para computador e jogos"><p>COMPUTADOR GAMER</p></div>
            <div class="card">
                <img src="assets/volante.jpg" alt="volante jogos"><p>VOLANTE JOGOS</p></div>
            <div class="card">
                <img src="assets/jogo-dragon-ball-z.jpg" alt="jogo dragon ball z"><p>JOGOS</p></div>
            <div class="card">
                <img src="assets/controle.jpg" alt="controle gamer"><p>CONTROLE</p></div>
            <div class="card">
                <img src="assets/cadeira-gamer-husky-g.jpg" alt="cadeira gamer"><p>CADEIRA GAMER</p></div>
       </div>
    </div>
        
