
    <div class="container-grid posicionamento-header">
        <a href="#"><img src="assets/Logo.jpg" alt="Logo do site Game mania"></a>
        <nav id="menu" class="menu" style="@media screen and ( max-width: 768px) {
                display: none;
        }">
            <a routerLink="pcgamer">PC Gamer</a>
            <a href="#">Jogos</a>
            <a href="#">Menu</a>
            <a routerLink="login">LOGIN</a>
       
            <div class="container-search">  
                <div class= "search-box">
                    <input class="search-txt" type="text" name="" placeholder="Faça sua pesquisa">
                    <a class="search-btn" type="submit"> <i class="fa fa-search"></i></a>
                </div>
            </div>

        <div class="img-compras">
            <a href="#"><img src="assets/compras.jpg"></a>
        </div>
        </nav>
    <a href="#" onclick="mostrarMenu()"><img class="barras" src="assets/bars.svg" alt="Menu de barras"></a>
    </div>

