<title>Monitor</title>
        <div class="container-grid gamer">
            <div class="pcgamer">PC GAMER - MONITOR</div> 
            <div class="grupo">  
            <div class="card">
                <img src="assets/monitor_gamer_curvo_samsung.jpg" alt="monitor curvo samsung"> <p>Monitor Gamer Samsung Odyssey G9 49' Curvo, 240 Hz, DQHD, 1ms, FreeSync Premium, HDR 1000, HDMI</p><a routerLink="/produto">R$10.999,90</a></div>
            <div class="card">
                <img src="assets/monitor-gamer-warrior-led-24-curvo.jpg" alt="monitor gamer warrior led 23.6 curvo "><p>Monitor Gamer Warrior LED 23.6´ Full HD, Curvo, HDMI/DisplayPort, FreeSync, 144Hz, 1ms</p><h3>R$1.399,90</h3></div>
            <div class="card">
                <img src="assets/monitorlg.jpg" alt="monito lg"><p>Monitor Gamer LG 34' IPS, Curvo Ultra Wide, 144 Hz, Full HD, 1ms, FreeSync, HDR 10, 99% sRGB, HDMI</p><h3>R$2.899,90</h3></div>
            <div class="card">
                <img src="assets/monitorlg.jpg" alt="monitor profisional lg"><p>Monitor Profissional LG 34' IPS, Ultra Wide, Full HD, HDMI/DisplayPort, Ajuste de Altura, Som Integrado</p><h3>R$3.449,90</h3></div>
            <div class="card">
                <img src="assets/monitor-gamer-bluecase.jpg" alt="monitor gamer bluecase"><p>Monitor Gamer Bluecase 23,8´ Full HD, 1ms, 165Hz, Curvo R2200, HDMI/DP, VESA</p><h3>R$1.119,90</h3></div>
            <div class="card">
                <img src="assets/monitor-gamer-asus.jpg" alt="monitor gamer asus"><p>Monitor Gamer Asus 23.8' IPS, Wide, 144 Hz, Full HD, 1ms, Adaptive Sync, HDMI/DisplayPort</p><h3>R$1.499,90</h3></div>
       </div>
    </div>