
    <div class="container-grid pcgamer">PC GAMER - MONITOR</div> 

<div class="container-grid py-4 my-4 mx-auto d-flex flex-column">
<div class="header">
    <div class="row r1">
        <div class="col-md-9 abc">
            <h1>Monitor Gamer Samsung Odyssey 49' QLED, Curvo, 144 Hz, Full HD</h1>
        </div>
        <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
       
    </div>
</div>
<div class="container-body mt-4">
    <div class="row r3">
        <div class="col-md-5 p-0 klo">
            <ul>
                <li>Marca: Samsung</li>
                 <li>Modelo: LC49HG90DMLXZD</li>   
                <li>Especificações</li>
                 <li>Tela: Tamanho: 48.9"
                    - Tamanho: 124.2 cm
                    - Plano / Curvo: Curvo
                    - Área de Display Ativo: 1195.8 x 336.3 mm
                    - Curvatura da tela: 1800 R
                    - Proporção: 32 : 9
                    - Tipo de painel: VA
                    - Brilho (Típico): 350 cd/m²
                    - Peak Brightness: 600 cd/m² (Typical)
                    - Brilho: 250 cd/m² (mínimo)
                    - Contraste Estático: 3000 : 1 (Típic), 2400 : 1 (Mín)
                    - Tipo de Contraste: Mega
                    - HDR (High Dynamic Range)
                    - Resolução: 3840 x 1080
                    - Tempo de resposta: 1 (MPRT)
                    - Ângulo de visão: 178° (A) / 178° (V) (horizontal / vertical)
                    - Suporte de Cor: 1.07 B
                    - Gama de Cores (NTSC 1976): Típ 88%, Mín 84%
                    - sRGB Coverage: Típ 125%, Mín 120%
                    - Adobe RGB Coverage: Típ 92%, Mín 88%
                    - Taxa de atualização: 144 Hz </li> 
            </ul>
        </div>
        <div class="col-md-7"> <img src="assets/monitorprod.jpg" width="90%" height="95%"> </div>
    </div>
</div>
<div class="final d-flex flex-column mt-5">
    <div class="row r4">
        <div class="col-md-2 myt des"><a>R$10.999,90</a></div>
        <div class="col-md-2 myt "><a href="#"></a></div>
        <div class="col-md-2 mio offset-md-4"><a href="#"></a></div>
        <div class="col-md-2 myt "><button type="button" class="btn btn-outline-warning"><a href="#">COMPRE</a></button></div>
    </div>
</div>
</div>
